/* src/App.css */
.heading {
  text-align: center;
  margin-top: 20px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.profile {
  text-align: center;
  margin-top: 20px;
}
